.container{    
    width:200px;
    background:#1A85C9; 
    padding:20px; 
    margin-bottom:40px;
    margin-right:10px;
  }
  .box{        
    width:150px;
    background:#4d4d4d; 
    color:#fff; 
    font-size:18px; 
    text-align:center; 
    padding:15px; 
    float:left;
  }
  .container01{ 
    display:flow-root;
  }  
 
  .SinCSS{
    color: rgb(19, 212, 238);    
    font: size 80px;  
        
  }

  .SinTable{
    color: rgb(18, 14, 240);
    text-align: left;
    font-size: 12px;
    max-width: 600px;
    max-height: 800px;
    border: 1px;
    border-color: rgb(255, 0, 0);
  }

  /*------RWD-UseCss------*/



  /* PC-USE */
body{
  background:rgb(154, 179, 247);
  font-size:large;
  color: rgb(0, 0, 0);/*藍底黑字*/
}/* ---PC-USE-END----*/

/* MOB-USE 解析度-768以上*/
@media screen and (max-device-width: 768px)
{
    /* CSS---content */
    /*-----解析度768上吃這段---*/
  body
  {
    background:rgb(245, 197, 197);
    font-size: small;
    font-weight:bolder ;/*粗體*/
    color: white;/*紅底白字*/    
  }
} /* ---MOB-USE-END----*/


/*-------浮動視窗使用-------*/
.parent {
  position: relative;
  height: 200px;
}

.float {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
}

.bottom {
  height: 150px;
  background-color: gray;
}
/*-------浮動視窗使用END-------*/

.sinCircleBut1{ /*  SIN buttonUse      */

  background-color: #fbff00; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15em
  /*border-radius: 0 10px 0 10px;/*  圓角設定 左上 右上 右下 左下*/
  /*  若要設計圓形可以設border-radius: 99em */



}

/*圓形按鈕*/
/* 
border-radius屬性可以幫div添加圓角的效果
設定值為圓角的半徑值，例如：border-radius:5px 意思為圓角半徑為5px
我們可以依據自身需求為div的四個邊分別設定不同數值
四個數值對應的方向為 border-radius:  左上 右上 右下 左下

*/
.sinCircleBut2{
  width:70px;
  height:70px;
  background:rgb(83, 133, 241);
  border-radius: 99em;
}

.btn1 {
  /* your custom overrides here */
 }


 /*進度條CSS*/ 
 /*-----*/
 .progress {
  margin: 10px;  /* 每次動畫小格的寬度*/
  width: 800px; /*進度條的寬度*/
}