<html>
    <title>This Is Example</title>
    <head>
        <meta charset="utf-8">
        <!------Using JS area-->
        <!---[1]bootstrap--->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
         
         <!---2-Using JQuery-->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

          <!---3-Using angularJS-->
          
          <!---<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
          <!--不使用min版--->

          <script src = "JS/angularjs-1.8.2.js"></script>


          <!-- Angular Material CSS now available via Google CDN; version 1.2.1 used here -->
          <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css">
          
         <!-- Angular Material Dependencies -->

         <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        -->
        
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>  

          <!---4-Using momentJS--->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        
          <!-----5-OtherJS---->

           <!--(5-1)拖拉UI(Jquery-UI)使用-->
           <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">           
           <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
           <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

        <!------(5-1)end-------->
        <!---MySelfJS--->
        <!---User JS file test--->		
		<!------[".. (根目錄)/(資料夾)/(JS檔名)"]------>
        <!--UseJSfile-->

        <script src="JS/SinData.js"></script>
        <script src="JS/Notes.js"></script>
        <script src="JS/DataUseController.js"></script>       

        <!--UseCSSfile-->
        <link href="CSS/SinCSS.css" rel="stylesheet">
        <link href="CSS/SinCarousel.css" rel="stylesheet"> <!--輪播效果CSS----->    

        
        <!---頁面內部使用JS---->
        <script>
        
        /////變數定義區/////
        var EX01Arr = new Array(); ///陣列宣告方式01
        var EX02 = [] ; ///陣列宣告方式02
        var EX03 = ['A','B','C']; ///陣列宣告方式03        
        /////////////////////////////////////////////////////////////

        $(document).ready()
        {
                ////alert('DOM IS ready');
                ///console.log('DOM IS ready');
                ////console.log('SetAutoTIME');
                setInterval(ShowTime,1000);////顯示時間 1000 毫秒= 1 秒 setInterval(fun 名稱不用加()號,即可調用)

                ///var timerId = setInterval(timer, 1000); // 每隔1000毫秒，呼叫一次timer。[倒數用]

                //最簡單的作法是使用setInterval()，它會依照固定的頻率，重複呼叫同一個函式。////
                ///如果想停止計時器，可以呼叫clearInterval()，並把上面的timerId傳給它。////
                //// clearInterval(timerId); // 依據timerId，停止指定的timer。
        }
         /////////////////////////////////////////////////////////////
        
        /* 設定倒數60秒。
        var count = 60;
 
        function timer() 
        {
        count--; // 每次執行timer就把count減1。
    
        // 若已計數完畢，則停止計時。
        if (count == 0) 
       clearInterval(timerId);
        } */


            
            

            ////DIV顯示///
            function ChangeDiv()
            {
                document.getElementById("D01").innerHTML = "Change DIV-DOM";
            }
            ////重置DIV內容///
            function ResetDiv(){

                document.getElementById("D01").innerText="";
            }
            
            ///產生tableData
            function  TabeleStr(ObjId)          
            {        
                console.log('targetTableStrFun')
                StrTXT ="<a>測試文字</a>";



                tableStrTXT = "<table border = '1'><tr><td><button onclick =alert('testOK')>clickME</button></td></tr><tr><td><a>測試文字</a></td></tr></table>";///[&quot; 表示雙引號]
                
                varOBJ = document.getElementById(ObjId); ////取物件
                console.log(varOBJ);
                varOBJ.innerHTML=tableStrTXT; ///塞值
                ///return StrTXT;
            }

            ///重置清空物件///
            function Restable(ObjId)
            {
                tableStrTXT="";
                varOBJ = document.getElementById(ObjId); ////取物件
                varOBJ.innerHTML=tableStrTXT; ///塞值
            }

            ///////consoleLOG打印///////
            function WRLOG()
            {
                var old = console.log;
                var logger = document.getElementById('log');
                console.log = function (message)
                {
                    if (typeof message == 'object') 
                    {
                        logger.innerHTML += (JSON && JSON.stringify ? JSON.stringify(message) : message) + '<br />';
                    }
                    else
                    {
                        logger.innerHTML += message+'<br />';
                    }
                }
            }

            ////輸出至DIV///
            function wrDiv(SubStr)
            {
            console.log('targetWrDiv');           
                var ShowOBJ = document.getElementById("LOG");                
                ShowOBJ.innerHTML += SubStr;

            }
            //////////////////////////
            ///清除DIVLOG內容//////////
            //////////////////////////
            function ResetLogDiv()           
            {   
                ///清除LOG的內容
                const container = document.getElementById('LOG');
                container.textContent = '';
            }

            
            ///////ERMSG處理//////
            function ERMSG(num){

                switch (num)
                {
                    case 1:
                    wrDiv('ER-1');
                    wrDiv('還在思考怎處理外部自訂JS');

                    //alert('還在思考怎處理外部自訂JS');
                    break;

                    case 2:
                    wrDiv('ER-2');                    
                    break;
                    case 3:
                    wrDiv('ER-4');

                    default:
                        ////無值之下預設值
                        wrDiv('ERMSG-999');
                    break;
                }


            }

            $( function() 
            {
                $( "#dialog" ).dialog();
            } );


            ////進度條JS/////

            $(function() {

                ///////條件1

            var current_progress = 0;

            /////自動觸發的迴圈--10秒
            var interval = setInterval(function() 
            {
                current_progress += 10;
                $("#dynamic")
                .css("width", current_progress + "%")
                .attr("aria-valuenow", current_progress)
                .text(current_progress + "% Complete");
                if (current_progress >= 100)
                {
                    clearInterval(interval);
                    console.log('跑完了');
                    disableProgress();
                   /// AutoTargetFN();

                }
                   
            }
            
            ///////條件2
           
            
            ///////////
            , 1000);
            });

            ////隱藏進度條
            function disableProgress()
            {
                console.log('關閉進度條');

                var dynamicOBJ = document.getElementById('Pro');////dynamic
                dynamicOBJ.hidden = true /// 隱藏物件                

            }

            ////手動觸發某個條件///        
            // function AutoTargetFN()
            // {
            //     console.log('手動觸發某個條件--AutoTargetFN');
            //     var OBJ =document.getElementById('TIP-BtCls');
            //     OBJ.onclick();

            // }




            ///////開啟RWD測試頁面//////
            function openRWDPage()
            {
                window.open('Rwd.html');/////大小寫有差異

                //////window.open(' 新視窗的網址 ', '新視窗的名稱', config='height=高度,width=寬度');
            }

            function OpenMultPage()
            {
                window.open('View/MultiPage.html');
                window.opener=null;
                ///window.close(); ///關閉原視窗


            }

            function openReaactPage()
            {
                window.open('View/ReactPage.html');
                window.opener=null;


            }
            


            function ShowTime()
            {
                
                /*
                setInterval(func, delayTime, argument)

                用途：每間隔多少毫秒，執行動作。
                回傳：timeoutID，紀錄當下定時編號，作為之後取消執行的依據。
                參數：
                        func:間隔delayTime，要執行哪些動作
                        delayTime : 延遲單位(毫秒)
                        argument(optional): 其他參數
                        與setTimeout()差異：
                        setTimeout()做完一次延遲執行動作即結束，setInterval()則是間隔延遲執行動作不中斷。

                */
               var DTString  = SWDT();
               var ShowOBJ = document.getElementById("TM01");                
                ShowOBJ.innerHTML= DTString;
                ///console.log(DTString); 
            }
           


            

            </script>
        <!--頁面內部使用JS結束---->

            <style>
                #banner{
                    width: 100%;
                    height:300px;
                }
            </style>
    </head>

    <!-----
    ////////////////////////////////////////////////////////////////////////////////////////
    ////                                                                                ////
    ////                                                                                ////
    ////                                                                                ////
    ////                                                                                ////
    ////////////////////////////////////////////////////////////////////////////////////////
    ----->
   
    <body ng-app = "myapp">
        <hr>
        <!---水平線---> 
        <a>以下是開發區域</a>
        <!-----//////////////////////////////////////////////////////////////////////////////////////// ----->
        <br>   
        <div style="text-align: right;">
            <!---DIV對齊方式靠右------>
            <button onclick="console.clear()">清除console-log</button></br>

            <!--<button onclick="Notes()" class= "sinCircleBut">SHOW notesDay</button>-->

            <table style="text-align: right;" border="1" align="right"> 
                <tr>
                    <td>
                        <b><a>現在時間:</a></b>
                    </td>
                    <td>
                        <div id="TM01"></div> 
                    </td>
                </tr>
            </table>
           

            <div class="sinCircleBut2" style="width: 100px ;height: 100px;"><a>圓形CSS</a></div>

            <div id="notesDay" style="border:2px rgb(255, 251, 0) dashed ;width: 100px;"></div>
        </div>        
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
   顯示公告/資訊
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"> <!--內容框架DIV--->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">公告備註</h5>

          <button  id ="TIP-BtCls" type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">關</button><!---原始class套用"btn-close"-->
        </div>
        <table border="1">
            <tr>
                <td>AB01</td>
                <td>AB02</td>
            </tr>
        </table>
        <a><b>=====上邊文字==========================</b></a>
        <div class="modal-body" >

            <div class ="container" style="border-style: double;">
                <div class="row">
                    <div class="col ">
                        <a>A001</a>
                    </div>

                    <div class="col ">
                        <a>A002</a>
                    </div>
                    <div>
                        <a>A003</a>
                    </div>
                </div>

            </div>

            <div class="row">
                <div style="overflow:auto;height: 150px;width: 200px; "><!--overflow:auto-出現scrollbar軸-->                
                    <a>公告內容~</a></br>
                    <a>1-AAA</a></br>
                    <a>2-BBB</a></br>
                    <a>3-CCC</a></br>
                    <a>4-DDD</a></br>
                    <a>5-EEE</a></br>
                    <a>6-FFF</a></br>
                </div> 
                
                <div>
                    <a>7-GGG</a></br>
                    <a>8-HHH</a></br>

                </div>


            </div>
             

            <div style="border: 1px solid black;">
                <a><b>=====下邊文字=====</b></a>
                <table border="1">
                    <tr>
                        <td>T01</td>
                        <td>T02</td>
                    </tr>
                </table>
            </div>           
            
        </div>
        
        <div  id="announcement" class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
          <button type="button" class="btn btn-primary" onclick="Notes()">顯示異動日期</button>
        </div>
      </div>
    </div>

    


  </div>
  <!------
    /
    /
    /
    /
    /
    /
    /
    /
    /
-->


    </body>
    <!-- <div id=" DIVCarousel"  style="width: 100%; height: 50px;border: 2px;border-color: black;">
        <a>文字123</a>
    </div> -->
   
    <hr>

    <div id="Pro">    
        <div class="progress">
          <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="current-progress"></span>
          </div>
        </div>
        
    </div> 
    <!---
        ---->

    <br>
    <button onclick="OpenMultPage()">MultiPage</button>
    <a>即時運算</a>
    <div>
        <input type="number" ng-model="price" ng-init="price=1 " onkeyup="value=value.replace(/[^\d]/g,'') "><a>僅限輸入數字</a>
        <br> <!-----僅限輸入數字[onkeyup="value=value.replace(/[^\d]/g,'') "]--->
    </div>
    <div>
        <input type="number" ng-model="num" ng-init="num=10" onkeyup="value=value.replace(/[^\d]/g,'') "><a>僅限輸入數字</a>
        <br><!-----僅限輸入數字[onkeyup="value=value.replace(/[^\d]/g,'') "]--->
       【{{price}}*{{num}} = {{num*price}}】
        
    </div>
    



    <!-----<img id="TIMEIMG" style="width: 90px;height:30px;"></img>------>        
        
    <hr><!----水平分隔線------>
        <!---- 
     ------>
        <!---上一頁面----->

        <div style="border:2px; border-color: red; height: 250px;width: 100%;">            
        </div>    

    <table border="1">
        <tr>
            <td>
                <button onclick= alert(SWDT())> 顯示時間[測載入JS是否正常] </button>
            </td>
        </tr>
    </table>  

        <button onclick="ChangeDiv()" id="b01">
            CHANGE-DIV
        </button>  

        <button onclick="TabeleStr('TB')"> <!--OBJ ID-->          
            table以innerHTML生成
        </button>
        <button onclick="Restable('TB')">清除生成</button>

        

        <div id="D01"></div>   

        <button onclick="ERMSG(1)">MSG-顯示在【輸出】</button>
        </br>
        <button id="b02" onclick="ResetLogDiv()">清空【輸出】</button>

        <hr></hr>
        <a>angular-Area</a>
        <div  >
            <input type="text" ng-model="T01">
            <a>{{T01}}</a>


        </div>
        <div id="TB">

        </div>       


        </div>
        <hr>
        <a>【======輸出======】</a>        
        <div id="LOG" style="width:80%;height:20%;overflow:auto; border:2px rgb(255, 9, 1) dashed">
        </div>

        <form  ng-app>
            <a>姓名:</a><input type="text" ng-model ="N01">{{N01}}
      
    </div>
            <a>性別</a>
            <input type="radio"  name="sex" value="1" ng-model = "SX01">
            <label>男</label>
            <input type="radio"  name="sex" value="2"  ng-model = "SX01">
            <label >女</label>
            
            <label>{{SX01}}</label> 
        </form>
    </div>

    <div class="container">
        TEST-DIV
    </div> 
    <div class="SinCSS">
        測試CSS文字效果
    </div> 


    

    <!----移動式視窗------>
    <div id="dialog" title="" style="height: 150px; width:150px;border:2px;background-color: rgb(159, 243, 236);overflow:auto; border-radius: 50px;">
        <a>異動日期請點"顯示公告/資訊"按鈕.</a>
        </br>       
        </br>
        <button onclick="openRWDPage()">RWD測試頁面</button>
        </br>
        <button onclick="openReaactPage()">React測試頁面</button>
    </div>        
  <!----移動式視窗結尾------>
  
  <form style="border: 2px;">
    <input type="radio">
    <input type="checkbox">
    <input type="text">
    <input type="email">
    <input type="datetime">
  </form>
  
  <a>Newcontroller</a>
  <hr>
  <div  ng-controller="SinController">
    <b>新數值綁定{{DATAAA}} ={{abcde}}</b>
    <button ng-click ="ngCk()">ngClick事件</button>
    <input type="number" ng-model="NumA" min="1" max="10" value="1" >
    <button ng-click = "ngCk()">{{NumA}}</button>
    <b><a>{{NumA}}</a></b>

    <a>下拉選單-ng跑值</a>
    <br>
    <a>anagular產label</a>

    <a>anagular產清單文字</a>
    <li ng-repeat="X in friends">{{ X }}</li>

    <label>anagular產List</label>
</br>
    <select >
        <option ng-repeat="X in friends">{{ X }}</option>
    </select>
</br>


    <!-------->



    <!---
        注意事項!!!
        !!!!!!!!!!
        angularController作用域範圍要包對,不然會呼叫失敗/沒反應
        !!!!!!!!
        --->
  </div>
  <!--自訂之SinController作用域結束範圍------>

  

    <!-----ANGJS的結束範圍---->

    <a>Bootstrap Example</a>
    
    <div>
        <button type="button" class="btn">BT01</button>
        <button type="button" class="btn btn-primary">BT02</button>
        <button type="button" class="btn btn-secondary">BT03</button>
        <button type="button" class="btn btn-success">BT04</button>
        <button type="button" class="btn btn-info">BT05</button>
        <button type="button" class="btn btn-warning">BT06</button>
        <button type="button" class="btn btn-danger">BT07</button>
        <button type="button" class="btn btn-dark">BT08</button>
        <button type="button" class="btn btn-light">BT09</button>
        <button type="button" class="btn btn-link">BT10</button>     
    </div>

        <footer>
        --頁腳--
        <a>Dev By Sin </a>
        </footer> 
    </body>    

    </html>
