<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>DataTables vs ng-repeat</title>
    <link rel="stylesheet" 
          href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../JS/SinDataTableData.js"></script>
</head>
<body ng-controller="myCtrl">

    <h2>Table 1: jQuery DataTables</h2>
    <table id="table1" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <!-- 這裡的資料要用 jQuery DataTables API 填充 -->
        </tbody>
    </table>

    <hr>

    <h2>Table 2: AngularJS ng-repeat</h2>
    <table border="1" width="50%">
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <h3>新增使用者</h3>
     <input type="text" ng-model="newUser.name" placeholder="姓名">
    <input type="text" ng-model="newUser.email" placeholder="Email">
    <button ng-click="addUser()">確認</button>

    <script>
        
    </script>
</body>
</html>