
<div ng-controller="Frame1Controller as ctrl">
    <h2>Frame 1</h2>
    <p>這是第一個框架的內容。</p>
    <button ng-click="sendMessageToFrame2()">傳送訊息到 Frame 2</button>
    <p class="output">訊息：{{ message }}</p>
  </div>
  
  <script>
    angular.module('app').controller('Frame1Controller', function($scope, SharedService) {
      $scope.message = '';
      $scope.sendMessageToFrame2 = function() {
        SharedService.setMessage('frame2', '來自 Frame 1 的訊息');
      };
      $scope.$on('messageUpdated', function(event, data) {
        if (data.frame === 'frame1') {
          $scope.message = data.message;
        }
      });
    });
  </script>
  